.card {
    width: 200px;
    margin: 0 auto;
    padding: 200px;
    background-image: url('images/odinCol.png') ;
    background-size: cover;
}

.recipes-card {
    background-color: beige;
    margin: 0 auto;
}

.tittle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    color: rgb(186, 188, 190);
    font-size: 55px;
}

h2,ul,ol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 196, 149);
    font-size: medium;
}

.home-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

